/app/vendor/
/app/node_modules/
/app/npm-debug.log
/app/yarn-error.log
/app/bootstrap/compiled.php
/app/app/storage/
/app/public/storage
/app/public/hot
/app/public_html/storage
/app/public_html/hot
/app/storage/*.key
/app/.env
/app/.env.*
/app/Homestead.yaml
/app/Homestead.json
/app/.vagrant
/app/.phpunit.result.cache
/app/public/build
/app/storage/pail
/app/.env.backup
/app/.env.production
/app/.phpactor.json
/app/auth.json
/app/data
/mailer
